{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="description" content="Календарь событий"/>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {% block css %}{% endblock css %}
</head>
<body class="app sidebar-mini">
<!-- Navbar-->
<header class="app-header">
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <a class="app-header__logo" href="{% url 'event:calendar' %}"><b>P</b>alendar</a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <!--Notification Menu-->
        <li class="dropdown">
            <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications">
                <i class="fa fa-bell-o fa-lg"></i>
            </a>
            <ul class="app-notification dropdown-menu dropdown-menu-right">
                <li class="app-notification__title">У вас {{ notifications|length }} новых уведомлений.</li>
                {% for notif in notifications %}
                <li class="app-notification__content">
                    <a class="app-notification__item" href="#" notif-goto="{% url notif.url %}" notif-id="{{ notif.id }}">
                        <span class="app-notification__icon">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </span>
                        <div>
                            <p class="app-notification__message">{{ notif.title }}</p>
                            <p class="app-notification__meta">{{ notif.description }}</p>
                            <p class="app-notification__meta"> •︎ {{ notif.since }}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <!-- User Menu-->
        <li class="dropdown">
            <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu">
                <i class="fa fa-user  fa-lg"></i>
            </a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                {% if request.user.is_staff %}
                <li>
                    <a class="dropdown-item" href="{% url 'admin:index' %}">
                        <i class="fa fa-solid fa-lock fa-lg"></i> Админ-панель
                    </a>
                </li>
                {% endif %}
                <li>
                    <a class="dropdown-item" href="{% url 'account:profile' %}">
                        <i class="fa fa-user fa-lg"></i> Профиль
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'account:signout' %}">
                        <i class="fa fa-sign-out fa-lg"></i> Выйти
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <a class="app-sidebar__user" href="{% url 'account:profile' %}">
        <img class="app-sidebar__user-avatar" src="{% static 'images/avatar.jpg' %}" alt="User Image" height="50px" width="50px"/>
        <div>
            <p class="app-sidebar__user-name">{{ user.second_name }} {{ user.first_name }}</p>
            <p class="app-sidebar__user-designation">{{ user.position }}</p>
        </div>
    </a>
    <ul class="app-menu">
        {% block sidebar %}
        {% endblock sidebar %}
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        {% block breadcrumb %}
        {% endblock breadcrumb %}
    </div>
    {% block content %}
    {% endblock content %}
</main>

<!-- Essential javascript for application -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!-- The javascript plugin to display page loading on top -->
<script src="{% static 'js/plugins/pace.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const matches = document.querySelectorAll(".app-notification__item")
        matches.forEach((match) => {
            match.addEventListener("click", e => {
                const notif_id = e.currentTarget.getAttribute('notif-id');
                const next_page = e.currentTarget.getAttribute('notif-goto');
                $.ajax({
                    url: '{% url 'event:notif_read' %}',
                    type: 'POST',
                    data: {
                        "notif_id": notif_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function(resp) {
                        window.location = next_page;
                    }
                });
            });
        })
    });
</script>
{% block extra_scripts %}
{% endblock extra_scripts %}
</body>
</html>
