{% extends 'base.html' %}
{% load static %}

{% block title %}Календарь | Palendar{% endblock title %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}"/>{% endblock css %}

{% block breadcrumb %}
<div>
    <h1><i class="app-menu__icon fa fa-dashboard"></i> Календарь</h1>
    <p>Собственно, сам календарь событий</p>
</div>
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
        <a style="color:#2e2e2e" href="{% url 'event:calendar' %}"><i class="fa fa-home fa-lg"></i></a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'event:calendar' %}">Календарь</a>
    </li>
</ul>
{% endblock breadcrumb %}

{% block sidebar %}
<li>
    <a class="app-menu__item" href="{% url 'event:dashboard' %}">
        <i class="app-menu__icon fa fa-dashboard"></i>
        <span class="app-menu__label">Панель управления</span>
    </a>
</li>
<li>
    <a class="app-menu__item active" href="{% url 'event:calendar' %}">
        <i class="app-menu__icon fa fa-calendar"></i>
        <span class="app-menu__label">Календарь</span>
    </a>
</li>
<li>
    <a class="app-menu__item" href="{% url 'event:chat' %}">
        <i class="app-menu__icon fa fa-comment"></i>
        <span class="app-menu__label">Чат</span>
    </a>
</li>
{% endblock sidebar %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">

            <!-- Current Events sidebar -->
            <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">Сегодня</h4>
                    {% for event in events_today %}
                        <div class="fc-event" style="background-color: #6e6e6e; border-color: #6e6e6e; border-radius: 7px">
                            <h3>{{ event.title }}</h3>
                            <p>{{ event.start_time|date:"d.m.Y H:m" }} - {{ event.end_time|date:"d.m.Y H:m" }}</p>
                            <p>
                                <b>Локация:</b> {{ event.location }}<br>
                                {% if event.type == 0 %}
                                <b>Категория:</b><b style="color: #ff7474"> Тип не определен</b><br>
                                {% elif event.type == 1 %}
                                <b>Категория:</b><b style="color: #86ff86"> Личное</b><br>
                                {% elif event.type == 2 %}
                                <b>Категория:</b><b style="color: #86ff86"> Встреча</b><br>
                                {% elif event.type == 3 %}
                                <b>Категория:</b><b style="color: #86ff86"> Тренинг</b><br>
                                {% elif event.type == 4 %}
                                <b>Категория:</b><b style="color: #86ff86"> Конференция</b><br>
                                {% endif %}
                                {% if event.priority == 0 %}
                                <b>Приоритет:</b><b style="color: #86ff86"> Низкий</b>
                                {% elif event.priority == 1 %}
                                <b>Приоритет:</b><b style="color: #fff486"> Средний</b>
                                {% elif event.priority == 2 %}
                                <b>Приоритет:</b><b style="color: #ff7474"> Высокий</b>
                                {% endif %}
                            </p>
                            <p>{{ event.description }}</p>
                        </div>
                    {% empty %}
                        <p>Нет текущих событий</p>
                    {% endfor %}
                </div>
            </div>

            <!-- JS Calendar loader -->
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>

            <!-- Event Create Form -->
            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Добавить новое событие</h5>
                            <button id="modalClose1" type="button" class="warning" data-dismiss="modal" aria-label="Close">
                                <span style="color: red; font-size: 20px" aria-hidden="true"><b>&times;</b></span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Название события:</label>
                                    {{ form.title }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Описание:</label>
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    <label for="location" class="col-form-label">Место:</label>
                                    {{ form.location }}
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Тип:</label>
                                    {{ form.type }}
                                </div>
                                <div class="form-group">
                                    <label for="priority" class="col-form-label">Приоритет:</label>
                                    {{ form.priority }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Начало:</label>
                                    {{ form.start_time }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Конец:</label>
                                    {{ form.end_time }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-danger">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Event View Widget -->
            <div class="modal fade show" id="event_modal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="event_title"></h5>
                            <button id="modalDetailClose" type="button" class="warning" data-dismiss="modal" aria-label="Close">
                                <span style="color: red; font-size: 20px" aria-hidden="true"><b>&times;</b></span>
                            </button>
                        </div>
                        <form method="post">
                            <div class="modal-body">
                                <p id="event_time"></p>
                                <p>
                                    <b>Локация:</b><q id="event_place"></q><br>
                                    <b>Категория:</b><q id="event_type"></q>
                                </p>
                                <p id="event_priority"></p>
                                <p id="event_desc"></p>
                                <div class="modal-footer">
                                    <button id="modalDelete" data-event-id="" type="button" class="btn btn-danger">Удалить</button>
                                    <button id="modalNextWeek" data-event-id-week="" type="button" class="btn btn-success">Следующая неделя</button>
                                    <button id="modalNextDay" data-event-id-day="" type="button" class="btn btn-primary">Следующий день</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script src="{% static 'js/fullcalendar.js' %}"></script>
<script>
    function converterDataParaDjangoFormat(data) {
        const dataJS = new Date(data);
        const year = dataJS.getFullYear();
        const month = (dataJS.getMonth() + 1).toString().padStart(2, '0');
        const day = dataJS.getDate().toString().padStart(2, '0');
        const hour = dataJS.getHours().toString().padStart(2, '0');
        const minute = dataJS.getMinutes().toString().padStart(2, '0');
        const second = dataJS.getSeconds().toString().padStart(2, '0');
        return `${year}-${month}-${day} ${hour}:${minute}:${second}`;
    }

    // Format a Date Object to Text
    function formatDateTime(dateTime) {
        const options = {
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
        };
        return new Date(dateTime).toLocaleDateString('ru-RU', options);
    }

    // Create and render calendar on DOMContentLoaded
    document.addEventListener('DOMContentLoaded', function () {
        const calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
            initialDate: new Date(), // Set current date as initial
            locale: 'ru',            // Calendar language
            navLinks: true,          // Clickable Dates transferring to the timeGridDay

            // Buttons in header (Prev/Next Today   Current Date    MonthView WeekView DayView)
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth timeGridWeek timeGridDay'
            },

            // Ability to select several days in the calendar at once (to create an event)
            selectable: true,
            selectMirror: true,
            select: function (arg) {
                const modal = document.getElementById('eventModal')
                modal.style.display = 'block'
                document.getElementById('id_start_time').value = converterDataParaDjangoFormat(arg.start);
                document.getElementById('id_end_time').value = converterDataParaDjangoFormat(arg.end);
                calendar.unselect()
            },

            // On event click:
            eventClick: function (arg) {
                const modal      = document.getElementById('event_modal');
                const modalTitle = document.getElementById('event_title');
                const modalTime  = document.getElementById('event_time');
                const modalPlace = document.getElementById('event_place');
                const modalType  = document.getElementById('event_type');
                const modalPrior = document.getElementById('event_priority');
                const modalDesc  = document.getElementById('event_desc');

                const title = arg.event.title;
                const start = arg.event.start;
                const end   = arg.event.end;
                const place = arg.event.extendedProps.location;
                const type  = arg.event.extendedProps.type;
                const prior = arg.event.extendedProps.priority;
                const desc  = arg.event.extendedProps.description;
                const id = arg.event.id;

                const deleteBtn = document.getElementById("modalDelete");
                const nextWeekBtn = document.getElementById("modalNextWeek");
                const nextDayBtn = document.getElementById("modalNextDay");

                modalTitle.textContent = title;
                modalTime.textContent  = formatDateTime(start) + ' - ' + formatDateTime(end);
                modalPlace.textContent = place;
                if (type === 0) {
                    modalType.textContent = "Тип не определен"
                    modalType.style.color = "#006300"
                } else if (type === 1) {
                    modalType.textContent = "Личное"
                    modalType.style.color = "#006300"
                } else if (type === 2) {
                    modalType.textContent = "Встреча"
                    modalType.style.color = "#006300"
                } else if (type === 3){
                    modalType.textContent = "Тренинг"
                    modalType.style.color = "#006300"
                } else if (type === 4){
                    modalType.textContent = "Конференция"
                    modalType.style.color = "#006300"
                }
                if (prior === 0) {
                    modalPrior.textContent = "Низкий приоритет"
                    modalPrior.style.color = "#006300"
                } else if (prior === 1) {
                    modalPrior.textContent = "Средний приоритет"
                    modalPrior.style.color = "#a89900"
                } else if (prior === 2) {
                    modalPrior.textContent = "Высокий приоритет"
                    modalPrior.style.color = "#b10000"
                }
                deleteBtn.setAttribute("data-event-id", id);
                nextWeekBtn.setAttribute("data-event-id-week", id);
                nextDayBtn.setAttribute("data-event-id-day", id);

                modalDesc.textContent  = desc || '';

                document.getElementById('modalDelete').addEventListener('click', function() {
                    const eventId = this.getAttribute('data-event-id');
                    if (confirm('Вы уверены, что хотите удалить это событие?')) {
                        $.ajax({
                            url: `/delete_event/${eventId}/`,
                            type: 'POST',
                            data: {
                                csrf_middleware_token: '{{ csrf_token }}',
                            },
                            success: function(response) {
                                alert(response.message);
                                window.location.reload();
                            },
                        });
                    }});

                document.getElementById('modalNextWeek').addEventListener('click', function() {
                    const eventId = this.getAttribute('data-event-id-week');
                    if (confirm('Вы уверены, что хотите добавить это событие на следующую неделю?')) {
                        $.ajax({
                            url: `/next_week/${eventId}/`,
                            type: 'POST',
                            data: {
                                csrf_middleware_token: '{{ csrf_token }}',
                            },
                            success: function(response) {
                                alert(response.message);
                                window.location.reload();
                            },
                        });
                    }
                });

                document.getElementById('modalNextDay').addEventListener('click', function() {
                    const eventId = this.getAttribute('data-event-id-day');
                    if (confirm('Вы уверены, что хотите добавить это событие на следующий день?')) {
                        $.ajax({
                            url: `/next_day/${eventId}/`,
                            type: 'POST',
                            data: {
                                csrf_middleware_token: '{{ csrf_token }}',
                            },
                            success: function(response) {
                                alert(response.message);
                                window.location.reload();
                            },
                        });
                    }
                });

                modal.style.display = 'block';
            },

            // Render all the events from CalendarView
            events: {% if events %}{{ events|safe }}{% else %}[{}]{% endif %}
        });

        calendar.render();
    });

    // Delete event


    // Close buttons in EventCreate and EventView
    const closeBtn1 = document.getElementById('modalClose1');
    const closeBtn2 = document.getElementById('modalClose2');
    const closeBtn3 = document.getElementById('modalDetailClose');
    closeBtn1.addEventListener('click', () => {
        const eventModal = document.getElementById('eventModal');
        eventModal.style.display = 'none';
    });
    closeBtn2.addEventListener('click', () => {
        const eventModal = document.getElementById('eventModal');
        eventModal.style.display = 'none';
    });
    closeBtn3.addEventListener('click', () => {
        const eventModal = document.getElementById('event_modal');
        eventModal.style.display = 'none';
    });

</script>
{% endblock extra_scripts %}
