{% extends 'base.html' %}
{% load static %}

{% block title %}Общий чат | Palendar{% endblock title %}

{% block sidebar %}
<li>
    <a class="app-menu__item" href="{% url 'event:dashboard' %}">
        <i class="app-menu__icon fa fa-dashboard"></i>
        <span class="app-menu__label">Панель управления</span>
    </a>
</li>
<li>
    <a class="app-menu__item" href="{% url 'event:calendar' %}">
        <i class="app-menu__icon fa fa-calendar"></i>
        <span class="app-menu__label">Календарь</span>
    </a>
</li>
<li>
    <a class="app-menu__item active" href="{% url 'event:chat' %}">
        <i class="app-menu__icon fa fa-comment"></i>
        <span class="app-menu__label">Чат</span>
    </a>
</li>
{% endblock sidebar %}

{% block breadcrumb %}
<div>
    <h1><i class="app-menu__icon fa fa-comment"></i> Чат</h1>
    {% if event %}
    <p>Обсуждение события "{{ event.title }}"</p>
    {% else %}
    <p>Общий чат</p>
    {% endif %}
</div>
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
        <a style="color:#2e2e2e" href="{% url 'event:calendar' %}"><i class="fa fa-home fa-lg"></i></a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'event:chat' %}">Чат</a>
    </li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            {% if event %}
            <h3 class="tile-title">Обсуждение события "{{ event.title }}"</h3>
            {% else %}
            <h3 class="tile-title">Общий чат</h3>
            {% endif %}
            <div class="messanger">
                <div class="messages" style="min-height: 500px;">
                    {% for query in messages %}
                    <div class="message {% if query.user == request.user %}me{% endif %}">
                        <img src="{% static 'images/avatar.jpg' %}" alt="avatar" width="32" height="32">
                        <p class="info">
                            <b>{{query.user.second_name}} {{query.user.first_name}}</b><br>
                            <span>{{query.message}}</span>
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <form autocomplete="off" method="post">
                    {% csrf_token %}
                    {% if event %}
                    <input type="hidden" name="event_id" value="{{ event.id }}">
                    {% endif %}
                    <div class="sender">
                        {{ form.message }}
                        <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
const objDiv = document.querySelector('.messages');
objDiv.scrollTop = objDiv.scrollHeight;
</script>
{% endblock extra_scripts %}