{% extends 'base.html' %}
{% load static %}

{% block title %}Панель управления | Palendar{% endblock title %}

{% block breadcrumb %}
<div>
    <h1><i class="app-menu__icon fa fa-dashboard"></i> Панель управления</h1>
    <p>Управление элементами календаря</p>
</div>
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
        <a style="color:#2e2e2e" href="{% url 'event:calendar' %}"><i class="fa fa-home fa-lg"></i></a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'event:dashboard' %}">Панель управления</a>
    </li>
</ul>
{% endblock breadcrumb %}

{% block sidebar %}
<li>
    <a class="app-menu__item active" href="{% url 'event:dashboard' %}">
        <i class="app-menu__icon fa fa-dashboard"></i>
        <span class="app-menu__label">Панель управления</span>
    </a>
</li>
<li>
    <a class="app-menu__item" href="{% url 'event:calendar' %}">
        <i class="app-menu__icon fa fa-calendar"></i>
        <span class="app-menu__label">Календарь</span>
    </a>
</li>
<li>
    <a class="app-menu__item" href="{% url 'event:chat' %}">
        <i class="app-menu__icon fa fa-comment"></i>
        <span class="app-menu__label">Чат</span>
    </a>
</li>
{% endblock sidebar %}

{% block content %}
<div class="row">

    <!-- Total Events -->
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
                <h4>Всего записей</h4>
                <p><b>{{ events.count }}</b></p>
            </div>
        </div>
    </div>

    <!-- Current Events -->
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
                <h4>Идущих событий</h4>
                <p><b>{{ current_events.count }}</b></p>
            </div>
        </div>
    </div>

    <!-- Upcoming Events -->
    <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon">
            <i class="icon fa fa-users fa-3x"></i>
            <div class="info">
                <h4>Предстоящих событий</h4>
                <p><b>{{ upcoming_events.count }}</b></p>
            </div>
        </div>
    </div>

    <!-- Total Calendar Members -->
    <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon">
            <i class="icon fa fa-star fa-3x"></i>
            <div class="info">
                <h4>Участников календаря</h4>
                <p><b>1</b></p>
            </div>
        </div>
    </div>

    <!-- Invite new User into calendar -->
    <div class="col-md-6 col-lg-3">
        <a class="btn btn-success" href={% url 'account:invite' %}>Пригласить участника</a>
    </div>

    <!-- Event Table -->
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer"
                                       id="table" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" style="width: 25px;">Название события</th>
                                            <th class="sorting" style="width: 200px;">Описание</th>
                                            <th class="sorting" style="width: 50px;">Начало</th>
                                            <th class="sorting" style="width: 50px;">Конец</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for event in events %}
                                        <tr role="row" class="odd">
                                            <td><a href="/calendar">{{ event.title }}</a></td>
                                            <td>{{ event.description }}</td>
                                            <td>{{ event.start_time|date:"d.m.Y H:m" }}</td>
                                            <td>{{ event.end_time|date:"d.m.Y H:m" }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">$('#table').DataTable()</script>
<script>
// Create Invitation Modal button
const btnInvite = document.getElementById('modal-invite-btn');
btnInvite.addEventListener('click', () => {
    const inviteDiv = document.getElementById('modal-invite');
    inviteDiv.style.display = 'block';
});

// Close Invitation Modal button
const btnInviteClose = document.getElementById('modal-invite-close-btn');
btnInviteClose.addEventListener('click', () => {
    const inviteDiv = document.getElementById('modal-invite');
    inviteDiv.style.display = 'none';
})
</script>
{% endblock extra_scripts %}
