{% extends 'base.html' %}
{% load static %}

{% block title %}Панель управления | Palendar{% endblock title %}

{% block breadcrumb %}
<ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
        <a style="color:#2e2e2e" href="{% url 'event:calendar' %}"><i class="fa fa-home fa-lg"></i></a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'event:dashboard' %}">Панель управления</a>
    </li>
</ul>
{% endblock breadcrumb %}

{% block sidebar %}
<li>
    <a class="app-menu__item active" href="{% url 'event:dashboard' %}">
        <i class="app-menu__icon fa fa-dashboard"></i>
        <span class="app-menu__label">Панель управления</span>
    </a>
</li>
<li>
    <a class="app-menu__item" href="{% url 'event:calendar' %}">
        <i class="app-menu__icon fa fa-calendar"></i>
        <span class="app-menu__label">Календарь</span>
    </a>
</li>
<li>
    <a class="app-menu__item" href="{% url 'event:chat' %}">
        <i class="app-menu__icon fa fa-comment"></i>
        <span class="app-menu__label">Чат</span>
    </a>
</li>
{% endblock sidebar %}

{% block content %}
<div class="row">

    <!-- Completed Events -->
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
                <h4>Всего завершенных событий</h4>
                <p><b>TOTAL_EVENT</b></p>
            </div>
        </div>
    </div>

    <!-- Current Events -->
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
                <h4>Всего идущих событий</h4>
                <p><b>RUN_EVENTS.COUNT</b></p>
            </div>
        </div>
    </div>

    <!-- Upcoming Events -->
    <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon">
            <i class="icon fa fa-users fa-3x"></i>
            <div class="info">
                <h4>Всего участников</h4>
                <p><b>N/A</b></p>
            </div>
        </div>
    </div>

    <!-- Total Calendar Members -->
    <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon">
            <i class="icon fa fa-star fa-3x"></i>
            <div class="info">
                <h4>Звезд</h4>
                <p><b>500</b></p>
            </div>
        </div>
    </div>

    <!-- Event Table -->
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer"
                                       id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable"
                                                rowspan="1" colspan="1" aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending"
                                                style="width: 262px;">SL
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 417px;">Название события
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1"
                                                colspan="1" aria-label="Office: activate to sort column ascending"
                                                style="width: 189px;">Начало
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1"
                                                colspan="1" aria-label="Age: activate to sort column ascending"
                                                style="width: 102px;">Конец
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for event in latest_events %}
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">{{ forloop.counter }}</td>
                                            <td>{{ event.title }}</td>
                                            <td>{{ event.start_time }}</td>
                                            <td>{{ event.end_time }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extra_scripts %}
