<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <title>Профиль | Palendar</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{% static 'css/account.css' %}"/>
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrap d-md-flex">
                    <div class="login-wrap p-4 p-md-5" style="width: 100%;">
                        <div class="row justify-content-center py-md-5">
                            <div class="col-lg-9">
                                <div class="social-wrap">
                                    <h3 class="mb-3 text-center">Изменить событие</h3>
                                </div>
                                <form action="#" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="title">Название</label> {{ form.title }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="description">Описание</label>  {{ form.description }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="location">Локация</label>{{ form.location }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="label" for="type">Тип</label> {{ form.type }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="label" for="priority">Приоритет</label> {{ form.priority }}
                                            </div>
                                        </div>
                                        <div class="col-md-12"></div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="label" for="start_time">Начало</label> {{ form.start_time }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="label" for="end_time">Конец</label> {{ form.end_time }}
                                            </div>
                                        </div>
                                        <div class="col-md-12"></div>
                                        <div class="col">
                                            <button id="modalNextDay" data-event-id-day="" type="button" class="btn btn-success">Каждый день</button>
                                            <button id="modalNextWeek" data-event-id-week="" type="button" class="btn btn-success">Каждую неделю</button><br>
                                            <button id="modalNextMonth" data-event-id-month="" type="button" class="btn btn-success">Каждый месяц</button><br>
                                            <a href="{% url 'event:calendar' %}" class="btn btn-danger">Назад</a>
                                            <button id="modalChange" type="submit" class="btn btn-success">Изменить</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'base/js.html' %}
<script>
    const acceptBtn = document.getElementById("modalChange");
    const nextDayBtn = document.getElementById("modalNextDay");
    const nextWeekBtn = document.getElementById("modalNextWeek");
    const nextMonthBtn = document.getElementById("modalNextMonth");

    acceptBtn.setAttribute("accept-change-id", id);
    nextDayBtn.setAttribute("data-event-id-day", id);
    nextWeekBtn.setAttribute("data-event-id-week", id);
    nextMonthBtn.setAttribute("data-event-id-month", id);

    document.getElementById('modalNextDay').addEventListener('click', function() {
        const eventId = this.getAttribute('data-event-id-day');
        if (confirm('Вы уверены, что хотите добавить это событие на следующий день?')) {
            $.ajax({
                url: `/next_day/${eventId}/`,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(response) {
                    alert(response.message);
                    window.location.reload();
                },
            });
        }
     });
    document.getElementById('modalNextWeek').addEventListener('click', function() {
        const eventId = this.getAttribute('data-event-id-week');
        if (confirm('Вы уверены, что хотите добавить это событие на следующую неделю?')) {
            $.ajax({
                url: `/next_week/${eventId}/`,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(response) {
                    alert(response.message);
                    window.location.reload();
                },
            });
        }
    });

    document.getElementById('modalNextWeek').addEventListener('click', function() {
        const eventId = this.getAttribute('data-event-id-month');
        if (confirm('Вы уверены, что хотите добавить это событие на следующий месяц?')) {
            $.ajax({
                url: `/next_month/${eventId}/`,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(response) {
                    alert(response.message);
                    window.location.reload();
                },
            });
        }
    });

    acceptBtn.addEventListener('click',function () {
        const eventId = this.getAttribute('accept-change-id');
        $.ajax({
            url: `event_change/${eventId}/`,
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            error: function (error) {
                alert('Error: ' + error);
            }
        });
    });

</script>
</body>
</html>